<html>
<head>
  <title>test</title>
</head>
<body>    
    
    
  <div id="121229178" class="subbuzz-anchor"></div>
  <ol class="subbuzz-quiz__questions-list js-subbuzz-quiz__questions-list list-unstyled">
    
    <li class='subbuzz-quiz__question xs-mb4 js-subbuzz-quiz__question subbuzz-quiz__question--image
      
      '
      data-id="360838718"
      data-type="question"
      
    >
      

<fieldset>
  <legend class="subbuzz-quiz__question-header xs-mb2">
    
    

    

    
      
      
        <style>
    .text-360838718 {
        
        font-family: Dancing Script;
        
        font-size: calc(82px / 2) !important;
        color: #ffffff;
    }

    .tile--text-outline--360838718 {
        color: #ffffff;
        font-weight: 700;
        -webkit-text-stroke: calc(2px / 1.5) ;
        text-stroke: calc(2px / 1.5) ;
    }

    

    @media (min-width: 40rem) {
        .text-360838718 {
            font-size: calc(82px / 1.5) !important;
        }
    }

    @media (min-width: 52rem) {
        .text-360838718 {
            font-size: 82px !important;
        }

        .tile--text-outline--360838718 {
            -webkit-text-stroke: 2px ;
            text-stroke: 2px ;
        }

        
    }
</style>
<div class="quiz-v3-question">
    
    <div class="tile" style="background-color: #e870cf;">
        <p
            class="tile--text text-360838718 ">
            Pick a<br />high school movie
        </p>
    </div>
    
</div>


      
      


    

    
  </legend>

  
  <div class="subbuzz__quiz-answers-list subbuzz__quiz-answers-list">

    
      
      
        
          <div class="subbuzz-quiz__group subbuzz-quiz__group-grid--3">
        

        

<div class="subbuzz-quiz__answer xs-relative js-subbuzz-quiz__answer
            subbuzz-quiz__answer--with-attribution
            subbuzz-quiz__answer--with-text
            "
     data-id="360838719"
     data-bfa="@a:Quiz-Answer;
  @e:{ quizId:121229178, itemId:360838719, questionId: 360838718 }"
     data-type="answer">

    

<label for="quiz-360838718-360838719" class="subbuzz-quiz__input">Image: Via Paramount Pictures&nbsp;Clueless
    <input type="radio" data-type="answer-radio" name="quiz-360838718" id="quiz-360838718-360838719"/>
    
</label>

    <div aria-hidden="true">
        

        
        


<div class="subbuzz-quiz__badge xs-relative">
  <div class="subbuzz-quiz__badge--correct">
    
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-left"></div>
    
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--correct fill-green">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Correct</title>
        <use xlink:href="#quiz-answer-check"></use>
      </svg>
    </div>
  </div>

  <div class="subbuzz-quiz__badge--incorrect">
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--incorrect fill-red">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Incorrect</title>
        <use xlink:href="#close"></use>
       </svg>
    </div>
  </div>
</div>
        

        
        
        <div class="subbuzz-quiz__answer-border xs-absolute"></div>
        <figure class="subbuzz-quiz__answer__media xs-mb1">
            <div class="quiz-media__image-wrapper">
                <img class="quiz-media__image js-progressive-image full-width"
                     alt=""
                     src="data:image/gif;base64,R0lGODlhAwACAPAAAAAAAAAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw=="
                     data-src="https://img.buzzfeed.com/buzzfeed-static/static/2018-06/21/5/enhanced/buzzfeed-prod-web-02/enhanced-buzz-17240-1529574683-0.jpg"
                >
            </div>

            
            <figcaption class="media__credit subbuzz-quiz__credit xs-block xs-text-6 sans italic text-gray-lighter xs-relative xs-z1">
                Via Paramount Pictures
            </figcaption>
            

        </figure>
        
        

        <div class="subbuzz-quiz__answer-body xs-flex xs-flex-align-center">
            
            

            
            <div class="subbuzz-quiz__answer__text bold xs-text-4 md-text-3">

                <i>Clueless</i>

                
            </div>
            
            
        </div>


        
        <div class="subbuzz-quiz__credit--answer-style-v2 media__credit subbuzz-quiz__credit
                         xs-hide xs-text-5 sans xs-relative xs-z1 xs-mt0
        xs-pt0">
            Via Paramount Pictures
        </div>
        
    </div>
</div>

        
      

      
    
      
      
        

        

<div class="subbuzz-quiz__answer xs-relative js-subbuzz-quiz__answer
            subbuzz-quiz__answer--with-attribution
            subbuzz-quiz__answer--with-text
            "
     data-id="360838720"
     data-bfa="@a:Quiz-Answer;
  @e:{ quizId:121229178, itemId:360838720, questionId: 360838718 }"
     data-type="answer">

    

<label for="quiz-360838718-360838720" class="subbuzz-quiz__input">Image: Via Universal Pictures&nbsp;The Breakfast Club
    <input type="radio" data-type="answer-radio" name="quiz-360838718" id="quiz-360838718-360838720"/>
    
</label>

    <div aria-hidden="true">
        

        
        


<div class="subbuzz-quiz__badge xs-relative">
  <div class="subbuzz-quiz__badge--correct">
    
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-left"></div>
    
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--correct fill-green">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Correct</title>
        <use xlink:href="#quiz-answer-check"></use>
      </svg>
    </div>
  </div>

  <div class="subbuzz-quiz__badge--incorrect">
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--incorrect fill-red">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Incorrect</title>
        <use xlink:href="#close"></use>
       </svg>
    </div>
  </div>
</div>
        

        
        
        <div class="subbuzz-quiz__answer-border xs-absolute"></div>
        <figure class="subbuzz-quiz__answer__media xs-mb1">
            <div class="quiz-media__image-wrapper">
                <img class="quiz-media__image js-progressive-image full-width"
                     alt=""
                     src="data:image/gif;base64,R0lGODlhAwACAPAAAAAAAAAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw=="
                     data-src="https://img.buzzfeed.com/buzzfeed-static/static/2018-06/21/5/enhanced/buzzfeed-prod-web-01/enhanced-buzz-28809-1529574711-0.jpg"
                >
            </div>

            
            <figcaption class="media__credit subbuzz-quiz__credit xs-block xs-text-6 sans italic text-gray-lighter xs-relative xs-z1">
                Via Universal Pictures
            </figcaption>
            

        </figure>
        
        

        <div class="subbuzz-quiz__answer-body xs-flex xs-flex-align-center">
            
            

            
            <div class="subbuzz-quiz__answer__text bold xs-text-4 md-text-3">

                <i>The Breakfast Club</i>

                
            </div>
            
            
        </div>


        
        <div class="subbuzz-quiz__credit--answer-style-v2 media__credit subbuzz-quiz__credit
                         xs-hide xs-text-5 sans xs-relative xs-z1 xs-mt0
        xs-pt0">
            Via Universal Pictures
        </div>
        
    </div>
</div>

        
      

      
    
      
      
        

        

<div class="subbuzz-quiz__answer xs-relative js-subbuzz-quiz__answer
            subbuzz-quiz__answer--with-attribution
            subbuzz-quiz__answer--with-text
            "
     data-id="360839149"
     data-bfa="@a:Quiz-Answer;
  @e:{ quizId:121229178, itemId:360839149, questionId: 360838718 }"
     data-type="answer">

    

<label for="quiz-360838718-360839149" class="subbuzz-quiz__input">Image: Via Touchstone Pictures&nbsp;10 Things I Hate About You
    <input type="radio" data-type="answer-radio" name="quiz-360838718" id="quiz-360838718-360839149"/>
    
</label>

    <div aria-hidden="true">
        

        
        


<div class="subbuzz-quiz__badge xs-relative">
  <div class="subbuzz-quiz__badge--correct">
    
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-left"></div>
    
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--correct fill-green">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Correct</title>
        <use xlink:href="#quiz-answer-check"></use>
      </svg>
    </div>
  </div>

  <div class="subbuzz-quiz__badge--incorrect">
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--incorrect fill-red">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Incorrect</title>
        <use xlink:href="#close"></use>
       </svg>
    </div>
  </div>
</div>
        

        
        
        <div class="subbuzz-quiz__answer-border xs-absolute"></div>
        <figure class="subbuzz-quiz__answer__media xs-mb1">
            <div class="quiz-media__image-wrapper">
                <img class="quiz-media__image js-progressive-image full-width"
                     alt=""
                     src="data:image/gif;base64,R0lGODlhAwACAPAAAAAAAAAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw=="
                     data-src="https://img.buzzfeed.com/buzzfeed-static/static/2018-06/21/5/enhanced/buzzfeed-prod-web-04/enhanced-buzz-6301-1529574811-0.jpg"
                >
            </div>

            
            <figcaption class="media__credit subbuzz-quiz__credit xs-block xs-text-6 sans italic text-gray-lighter xs-relative xs-z1">
                Via Touchstone Pictures
            </figcaption>
            

        </figure>
        
        

        <div class="subbuzz-quiz__answer-body xs-flex xs-flex-align-center">
            
            

            
            <div class="subbuzz-quiz__answer__text bold xs-text-4 md-text-3">

                <i>10 Things I Hate About You</i>

                
            </div>
            
            
        </div>


        
        <div class="subbuzz-quiz__credit--answer-style-v2 media__credit subbuzz-quiz__credit
                         xs-hide xs-text-5 sans xs-relative xs-z1 xs-mt0
        xs-pt0">
            Via Touchstone Pictures
        </div>
        
    </div>
</div>

        
          </div>
        
      

      
    
      
      
        
          <div class="subbuzz-quiz__group subbuzz-quiz__group-grid--3">
        

        

<div class="subbuzz-quiz__answer xs-relative js-subbuzz-quiz__answer
            subbuzz-quiz__answer--with-attribution
            subbuzz-quiz__answer--with-text
            "
     data-id="360839150"
     data-bfa="@a:Quiz-Answer;
  @e:{ quizId:121229178, itemId:360839150, questionId: 360838718 }"
     data-type="answer">

    

<label for="quiz-360838718-360839150" class="subbuzz-quiz__input">Image: Via Warner Bros.&nbsp;Bring It On
    <input type="radio" data-type="answer-radio" name="quiz-360838718" id="quiz-360838718-360839150"/>
    
</label>

    <div aria-hidden="true">
        

        
        


<div class="subbuzz-quiz__badge xs-relative">
  <div class="subbuzz-quiz__badge--correct">
    
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-left"></div>
    
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--correct fill-green">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Correct</title>
        <use xlink:href="#quiz-answer-check"></use>
      </svg>
    </div>
  </div>

  <div class="subbuzz-quiz__badge--incorrect">
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--incorrect fill-red">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Incorrect</title>
        <use xlink:href="#close"></use>
       </svg>
    </div>
  </div>
</div>
        

        
        
        <div class="subbuzz-quiz__answer-border xs-absolute"></div>
        <figure class="subbuzz-quiz__answer__media xs-mb1">
            <div class="quiz-media__image-wrapper">
                <img class="quiz-media__image js-progressive-image full-width"
                     alt=""
                     src="data:image/gif;base64,R0lGODlhAwACAPAAAAAAAAAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw=="
                     data-src="https://img.buzzfeed.com/buzzfeed-static/static/2018-06/21/5/enhanced/buzzfeed-prod-web-05/enhanced-buzz-25399-1529574845-0.jpg"
                >
            </div>

            
            <figcaption class="media__credit subbuzz-quiz__credit xs-block xs-text-6 sans italic text-gray-lighter xs-relative xs-z1">
                Via Warner Bros. 
            </figcaption>
            

        </figure>
        
        

        <div class="subbuzz-quiz__answer-body xs-flex xs-flex-align-center">
            
            

            
            <div class="subbuzz-quiz__answer__text bold xs-text-4 md-text-3">

                <i>Bring It On</i>

                
            </div>
            
            
        </div>


        
        <div class="subbuzz-quiz__credit--answer-style-v2 media__credit subbuzz-quiz__credit
                         xs-hide xs-text-5 sans xs-relative xs-z1 xs-mt0
        xs-pt0">
            Via Warner Bros. 
        </div>
        
    </div>
</div>

        
      

      
    
      
      
        

        

<div class="subbuzz-quiz__answer xs-relative js-subbuzz-quiz__answer
            subbuzz-quiz__answer--with-attribution
            subbuzz-quiz__answer--with-text
            "
     data-id="360839151"
     data-bfa="@a:Quiz-Answer;
  @e:{ quizId:121229178, itemId:360839151, questionId: 360838718 }"
     data-type="answer">

    

<label for="quiz-360838718-360839151" class="subbuzz-quiz__input">Image: Via New World Pictures&nbsp;Heathers
    <input type="radio" data-type="answer-radio" name="quiz-360838718" id="quiz-360838718-360839151"/>
    
</label>

    <div aria-hidden="true">
        

        
        


<div class="subbuzz-quiz__badge xs-relative">
  <div class="subbuzz-quiz__badge--correct">
    
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-left"></div>
    
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--correct fill-green">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Correct</title>
        <use xlink:href="#quiz-answer-check"></use>
      </svg>
    </div>
  </div>

  <div class="subbuzz-quiz__badge--incorrect">
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--incorrect fill-red">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Incorrect</title>
        <use xlink:href="#close"></use>
       </svg>
    </div>
  </div>
</div>
        

        
        
        <div class="subbuzz-quiz__answer-border xs-absolute"></div>
        <figure class="subbuzz-quiz__answer__media xs-mb1">
            <div class="quiz-media__image-wrapper">
                <img class="quiz-media__image js-progressive-image full-width"
                     alt=""
                     src="data:image/gif;base64,R0lGODlhAwACAPAAAAAAAAAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw=="
                     data-src="https://img.buzzfeed.com/buzzfeed-static/static/2018-06/21/5/enhanced/buzzfeed-prod-web-05/enhanced-buzz-24408-1529574906-0.jpg"
                >
            </div>

            
            <figcaption class="media__credit subbuzz-quiz__credit xs-block xs-text-6 sans italic text-gray-lighter xs-relative xs-z1">
                Via New World Pictures

            </figcaption>
            

        </figure>
        
        

        <div class="subbuzz-quiz__answer-body xs-flex xs-flex-align-center">
            
            

            
            <div class="subbuzz-quiz__answer__text bold xs-text-4 md-text-3">

                <i>Heathers</i>

                
            </div>
            
            
        </div>


        
        <div class="subbuzz-quiz__credit--answer-style-v2 media__credit subbuzz-quiz__credit
                         xs-hide xs-text-5 sans xs-relative xs-z1 xs-mt0
        xs-pt0">
            Via New World Pictures

        </div>
        
    </div>
</div>

        
      

      
    
      
      
        

        

<div class="subbuzz-quiz__answer xs-relative js-subbuzz-quiz__answer
            subbuzz-quiz__answer--with-attribution
            subbuzz-quiz__answer--with-text
            "
     data-id="360839152"
     data-bfa="@a:Quiz-Answer;
  @e:{ quizId:121229178, itemId:360839152, questionId: 360838718 }"
     data-type="answer">

    

<label for="quiz-360838718-360839152" class="subbuzz-quiz__input">Image: Via The Walt Disney Company&nbsp;High School Musical
    <input type="radio" data-type="answer-radio" name="quiz-360838718" id="quiz-360838718-360839152"/>
    
</label>

    <div aria-hidden="true">
        

        
        


<div class="subbuzz-quiz__badge xs-relative">
  <div class="subbuzz-quiz__badge--correct">
    
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-right"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--bottom-left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--left"></div>
    
      <div class="circle subbuzz-quiz__badge-circle fill-green explode-circle--top-left"></div>
    
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--correct fill-green">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Correct</title>
        <use xlink:href="#quiz-answer-check"></use>
      </svg>
    </div>
  </div>

  <div class="subbuzz-quiz__badge--incorrect">
    
    <div class="circle subbuzz-quiz__badge-circle subbuzz-quiz__badge-circle-icon subbuzz-quiz__badge-circle-icon--incorrect fill-red">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38" class="svg-white subbuzz-quiz__badge-circle-icon__icon">
        <title>Incorrect</title>
        <use xlink:href="#close"></use>
       </svg>
    </div>
  </div>
</div>
        

        
        
        <div class="subbuzz-quiz__answer-border xs-absolute"></div>
        <figure class="subbuzz-quiz__answer__media xs-mb1">
            <div class="quiz-media__image-wrapper">
                <img class="quiz-media__image js-progressive-image full-width"
                     alt=""
                     src="data:image/gif;base64,R0lGODlhAwACAPAAAAAAAAAAACH5BAEAAAAALAAAAAADAAIAAAIChF8AOw=="
                     data-src="https://img.buzzfeed.com/buzzfeed-static/static/2018-06/21/5/enhanced/buzzfeed-prod-web-01/enhanced-buzz-29602-1529574939-0.jpg"
                >
            </div>

            
            <figcaption class="media__credit subbuzz-quiz__credit xs-block xs-text-6 sans italic text-gray-lighter xs-relative xs-z1">
                Via The Walt Disney Company
            </figcaption>
            

        </figure>
        
        

        <div class="subbuzz-quiz__answer-body xs-flex xs-flex-align-center">
            
            

            
            <div class="subbuzz-quiz__answer__text bold xs-text-4 md-text-3">

                <i>High School Musical</i>

                
            </div>
            
            
        </div>


        
        <div class="subbuzz-quiz__credit--answer-style-v2 media__credit subbuzz-quiz__credit
                         xs-hide xs-text-5 sans xs-relative xs-z1 xs-mt0
        xs-pt0">
            Via The Walt Disney Company
        </div>
        
    </div>
</div>

        
          </div>
        
      

      
    
  </div>
  

  

  

  
</fieldset>
    </li>
    
  </ol>

  
  

  
    
    <section class="subbuzz-quiz__result-card js-subbuzz-quiz__results js-subbuzz-quiz__results-121229178 js-hidden">
    </section>
  
</div>
</body>
</html>
